<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start" color="medium">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-img class="ion-float-left" src="assets/galeria/logoTec.png" width="40" style="height:65px"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content color="base">

  <div padding>

    <ion-img class="ion-float-center" src="assets/galeria/icon.png" width="40" style="height:65px"></ion-img>
    <div text-center padding>
      <h2>Editar datos</h2>
    </div>

  </div>


  <div text-center class="datos" ion-float-center margin>
    <h1>Nombre </h1>
    <ion-input name="nombre" type="text" placeholder="nombre"></ion-input>
    <h1> Apellidos</h1>
    <ion-input name="apellidos" type="text" placeholder="apellidos"></ion-input>
        <ion-icon name="checkmark"></ion-icon>
  </div>



</ion-content>