<ion-header>
  <ion-toolbar color="base">

    <ion-img class="ion-float-left" src="assets/galeria/logoTec.png" width="40" style="height:65px"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <div padding text-center >
    <ion-buttons slot="start"  color="medium">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <h1>CURP</h1>
    <br>
    <ion-img class="ion-float-center" src="assets/galeria/color.jpg" width="40" style="height:65px"></ion-img>
   <br>
   <h1>Historial</h1>

  </div>

 
  <div text-center padding>

    <ion-list>
      <ion-item>
        <ion-label>-------</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-------</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-------</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-------</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-------</ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>