h3{
    color: blanchedalmond;
}

.primero{
    background-color: white;
    height: 200px;
    
}
.segundo{
    background-color:#000040;
    height: 200px;
}

.tercero{
    background-color:white;
    
}

h5{
    color: black;
}

